<div class="page-min-height d-flex flex-column align-items-start justify-content-center">
    <h1>Update author</h1>
    <br/>
    <%= render 'form', author: @author %>

    <br/>
    <%= link_to 'Back', admin_authors_path, class:"btn btn-outline-dark" %>
</div>