<% if publisher.new_record? %>
  <% form_url = admin_publishers_path %>
<% else %>
  <% form_url = admin_publisher_path(publisher) %>
<% end %>

<%= form_with(model: publisher, url: form_url, turbo_method: publisher.new_record? ? :post : :patch, local: true) do |form| %>
  <%= render 'error_messages', publisher: publisher %>

  <div class="field form-group">
      <% form.label :name %>
      <%= form.text_field :name, class:"form-control", placeholder:"Name" %>
  </div>
<br/>
  <div class="actions">
    <%= form.submit class:'btn btn-secondary' %>
  </div>
<% end %>