<div class="page-min-height d-flex flex-column align-items-start justify-content-center">
    <h1>Update publisher</h1>
    <br/>
    <%= render 'form', publisher: @publisher %>

    <br/>
    <%= link_to 'Back', admin_publishers_path, class:"btn btn-outline-dark" %>
</div>